# Core scientific stack
numpy
pandas
scipy

# Machine learning
scikit-learn==1.6.1
xgboost
imbalanced-learn==0.13.0
joblib

# Deep learning (for InceptionV3, ResNet50 via keras.applications)
tensorflow
keras

# Image processing
opencv-python
scikit-image

# Audio processing
librosa
soundfile

# Feature selection
PyIFS
scikit-fuzzy

# Visualization (in case I want to plot confusion matrices / metrics)
matplotlib
seaborn

# Encryption
cryptography

# distributed FL
fastapi
uvicorn
pydantic

# personalization 
llama-cpp-python==0.2.24 
